.page-top {
    height: 100px;
    text-align: center;
    padding-top: 20px;
    background: linear-gradient(to right, #9198e5, #17238b);
    color: white;
    
}

#current-weather {
    position: absolute;
    left: 360px;
    top: 125px;
    /* border: 2px solid black; */
    width: 800px;
    
  
} 


#current-weather, p {
    padding-left: 10px;
    
}

.card-width {

    width: 12rem;
    background-color:rgb(100, 100, 202);
   
}

#search-border {
    border-bottom: 1px solid grey;
    width: 250px;
    margin: 5px;
}

#forecast {
    
    position: absolute;
    bottom: 75px;
   
}